.box {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  margin-bottom: 32px;
  color: rgb(39,23,72);
  font-weight: 600;
}
.introduce {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: flex-start;
  margin-left: 10px;
 
}

.loving{
  position: absolute;
  display: block;
  left: 350px;
  top: -6px;
  cursor: pointer;
  user-select: none;
}

.rate{
  margin-top: 16px;
}

.introduce p :nth-child(1){
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  
}
.introduce p {
  margin:4px 0;
  font-size: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.under{
    text-decoration: line-through;
    color: #999;
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
